body{
	margin:0;
	background: url(../imgs/bg.jpg);
}
#canvas{
  display: block;
  position: absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
#canvas1{
  display: block;
  position: absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
	box-shadow:0 0 1px black;
	background: url(../imgs/11.jpg);
	opacity: 0.6;
}